<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Samtel Application</title>
    <base href="/" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - Samtel Application</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
  <script type="text/javascript" src="~/dist/Launcher/runtime-es5.js"></script>
  <script type="text/javascript" src="~/dist/Launcher/polyfills-es5.js"></script>
  <script type="text/javascript" src="~/dist/Launcher/styles-es5.js"></script>
  <script type="text/javascript" src="~/dist/Launcher/vendor-es5.js"></script>
  <script type="text/javascript" src="~/dist/Launcher/main-es5.js"></script>
</body>
</html>
